@import url("file:///home/alex/.config/waybar/aether-colors.css");

@define-color dark-9 rgba(24, 24, 27, 1);
@define-color dark-8 rgba(39, 39, 42, 1);
@define-color dark-7 rgba(63, 63, 70, 1);
@define-color dark-6 rgba(82, 82, 91, 1);
@define-color dark-5 rgba(113, 113, 122, 1);

* {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 14px;
}

window#waybar {
  background-color: alpha(@background, 0.8);
  color: @foreground;
}

#custom-powermenu {
  color: @highlight;
  font-size: 14px;
  padding: 0 10px 0 8px;
  margin: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

#custom-powermenu:hover {
  color: white;
}

#workspaces {
  margin: 0 4px;
}

#workspaces button {
  padding: 0 3px;
  margin: 0;
  background: transparent;
  border-radius: 0;
  color: rgba(255, 255, 255, 0.65);
  font-size: 14px;
  box-shadow: none;
  border: none;
}

#workspaces button.empty {
  color: rgba(255, 255, 255, 0.2);
}

#workspaces button.active {
  color: @highlight;
}

#workspaces button.urgent {
  color: rgba(227, 81, 73, 1);
}

#workspaces button:hover {
  background: transparent;
  color: rgba(255, 255, 255, 0.85);
}

#submap,
#battery,
#bluetooth,
#network,
#cpu,
#memory,
#volume {
  border-radius: 8px;
  padding: 3px 8px;
  background: rgba(39, 39, 42, 0.4);
  margin: 3px 10px 3px 0px;
}

#submap,
#workspaces button.urgent {
  background: rgba(227, 81, 73, 1);
  color: black;
}

#pulseaudio-slider {
  padding: 0px;
  margin: 0px;
  margin-left: 8px;
}

#pulseaudio-slider slider {
  all: unset;
  min-height: 0;
  min-width: 0;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 8px;
  min-width: 75px;
  border-radius: 5px;
  background: @dark-7;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: @highlight;
}

#media {
  color: @highlight;
  margin: 4px 0px 4px 80px;
}

#custom-media-animation {
  font-size: 14px;
  margin-right: 10px;
}

#custom-media-now-playing {
  margin-right: 10px;
}

#custom-media-time {
  color: @dark-5;
  font-size: 14px;
}

#tray {
  margin-right: 10px;
}

#custom-notification {
  color: @highlight;
  font-size: 14px;
  border-radius: 8px;
  padding: 3px 10px;
  background: rgba(39, 39, 42, 0.4);
  margin: 3px 10px 3px 0;
}

#custom-notification.none {
  color: rgba(255, 255, 255, 0.4);
}

#custom-notification.dnd-none,
#custom-notification.dnd-notification {
  color: rgba(255, 255, 255, 0.3);
}

#custom-audio-output {
  color: @foreground;
  border-radius: 8px;
  padding: 3px 10px;
  background: rgba(39, 39, 42, 0.4);
  margin: 3px 4px;
}

tooltip {
  background: @dark-9;
  border-radius: 5px;
}

tooltip label {
  color: white;
}
